.UserProfile{

    display: grid;
    place-items: center;
    position: absolute;
    left: 40%;    
    top: 10%;
}

.UserProfile__body{
    padding: 30px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 0;
    height: fit-content;

}

.UserProfile__head{
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 30px;
}
.UserProfile__table{
    margin-top: 20%;
   
    margin-bottom:20% ;
    font-size: 20px;
}
.UserProfile__tabletd{
    font-weight: bold;
    float: right;
}